body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
color:#111;
}

.container{
max-width:1100px;
margin:auto;
padding:0 20px;
}


/* header */

/* ===== HEADER ===== */

.site-header{
width:100%;
background:white;
border-bottom:1px solid #eee;
position:fixed;
top:0;

z-index:1000;
}

.header-inner{

display:flex;
align-items:center;
justify-content:space-between;

height:90px;

padding-left:40px;
padding-right:40px;

}


/* logo */

.site-logo img{
height:72px;
}


/* nav */

.main-nav ul{

display:flex;
align-items:center;

list-style:none;
margin:0;
padding:0;

}


.main-nav li{

padding:0 30px;
position:relative;
height:48px;
display:flex;
align-items:center;

transition:0.3s;

}

.main-nav li:hover{
background:#f2f2f2;
}


/* 竖线 */

.main-nav li:not(:last-child)::after{

content:"";
position:absolute;
right:0;
top:50%;

transform:translateY(-50%);

width:1px;
height:48px;

background:#ccc;

}


/* menu link */

.main-nav a{

text-decoration:none;
color:#111;

font-size:16px;
letter-spacing:0.05em;

}

/* HERO */

.hero-marquee{
position:relative;
background:#000;

height:600px;

display:flex;
align-items:center;

overflow:hidden;
padding-top: 90px;

}

/* 左右渐隐 */

.hero-fade{

position:absolute;

top:0;

width:500px;
height:100%;

z-index:5;

pointer-events:none;

}


/* 左侧渐隐 */

.hero-fade-left{

left:0;

background:linear-gradient(
to right,
rgba(0,0,0,1),
rgba(0,0,0,0)
);

}


/* 右侧渐隐 */

.hero-fade-right{

right:0;

background:linear-gradient(
to left,
rgba(0,0,0,1),
rgba(0,0,0,0)
);

}

/* swiper */

.heroSwiper{
width:100%;
}

.heroSwiper .swiper-wrapper{

transition-timing-function: linear !important;

}

/* slide */

.heroSwiper .swiper-slide{

position:relative;
width:280px;
height: 420px;
display:flex; 
align-items: center;
justify-content: center;

overflow:hidden;   /* 关键 */

}

/* 图片 */

.heroSwiper img{

width:80%;
height:80%;

object-fit:cover;
display:block;

transform:scale(1.03);   /* 轻微放大 */
transition:transform 0.6s ease;

}

.heroSwiper .swiper-slide:hover img{

transform:scale(1.2);

}

/* 图片蒙版 */

.hero-overlay{

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(160, 158, 158, 0.2);

z-index:2;

pointer-events:none;

}

.heroSwiper .swiper-slide:hover .hero-overlay{

background:rgba(160,158,158,0.1);

transition:0.3s;

}


/* news */

.home-news{

background:#000;

padding:100px 0;

}

.news-container{

background:#fff;

display:flex;

padding:60px 80px;

}

.news-left{

width:220px;
display:flex;
flex-direction:column;

align-items:center;   /* 水平居中 */
justify-content:center; /* 垂直居中 */

text-align:center;

}

.news-title{

font-size:32px;

letter-spacing:2px;

margin-bottom:10px;

}

.news-subtitle{

color:#666;

font-size:14px;

}

.news-divider{

width:1px;

background:#ddd;

margin:0 40px;
align-self:stretch;   /* 关键 */

}

.news-right{

flex:1;

}


.news-list{

list-style:none;

padding:0;

margin:0;

}

.news-list li{

display:flex;

gap:30px;

padding:14px 0;

border-bottom:1px solid #eee;

font-size:15px;

}

.news-list li:hover{

background:#f7f7f7;

transition:0.2s;

}

.news-date{

color:#888;

width:110px;

flex-shrink:0;

}

.news-list a{

text-decoration:none;

color:#000;

}

.news-list a:hover{

text-decoration:none;

}

/* -------------------------------------------------------------------------*/

.home-story{

background:#000;

padding:100px 0;

}

.story-section-label{

position:absolute;

top:-60px;
right:0;

font-size:30px;

font-weight:700;

color:rgb(255, 255, 255);

letter-spacing:8px;

pointer-events:none;

}

.story-container{

display:flex;

align-items:center;

position:relative;

}

.story-grid{

display:grid;
grid-template-columns:repeat(3, 1fr);
gap:40px;

}

.story-card{

background:#fff;

padding:16px;

transition:all 0.3s ease;

position:relative;

}

.story-card:hover{

transform:translateY(-5px);
box-shadow:0 12px 24px rgba(0,0,0,0.15);

}

.story-card:hover img{

transform:scale(1.06);

}

.story-image{

position:relative;

padding:16px 16px 0 16px;

overflow:hidden;

margin-bottom:12px;

}

.story-image img{

width:100%;

height:220px;

object-fit:cover;

display:block;

transition:transform 0.6s ease;

}

.story-new{

position:absolute;

top:5px;
left:5px;

background:#cc3737;

color:#fff;

font-size:11px;

font-weight:bold;

width:60px;
height:60px;

border-radius:50%;

display:flex;

align-items:center;
justify-content:center;

letter-spacing:1px;

}

.story-label{

background:#eee;

padding:8px 14px;

font-size:12px;

letter-spacing:1px;

display:inline-block;

margin:16px;

}

.story-text{

padding:0 16px 20px;

}

.story-text h3{

font-size:18px;

margin-bottom:10px;

}

.story-text p{

font-size:14px;

color:#555;

line-height:1.6;

}

/* footer */

.site-footer{
background:#fff;
color: #000;;
text-align:center;
padding:40px 0;
}